@keyframes move-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.like-icon .contour {
  fill: var(--text-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  transition-delay: 0.3s;
  animation: sparks_on 0.3s ease-in;
}

.like-icon.is-liked .heart {
  animation: heart_scale 0.3s ease-in 0.1s forwards;
}

@keyframes heart_scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks_on {
  0% {
    fill: transparent;
  }
  50% {
    fill: red;
  }
  100% {
    fill: transparent;
  }
}
