/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;

  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);

  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 

}

.header {
  width: 44rem;
  height: 23rem;
  background-image: none; 
  background-color: var(--background-color);
  font-family: var(--font-acent-family);
  color: var(--text-color);
  margin: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--text-color);
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.header__title {
  padding-top: 10.1rem;
  font-size: 65px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:not(:disabled) {
  margin-left: 2rem;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  /* position: relative; */
  /* left: 0.6rem; */
  display: inline-block;
  animation: move-arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform 0.3s ease; 
}

.theme-menu__button:hover::after {
  transform: scaleX(1); 
}

.main {
  display: flex;
  width: 44rem;
}

.card {
  border: 2px solid var(--text-color);
  background-image: none; 
  background-color: var(--background-color);
}

.card__title {
  border: 2px solid var(--text-color);
  padding: 0.4rem;
}

.card__text {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  font-size: 18px;
}

.card__image-watermark {
  position: relative;
  left: 36rem;
  top: -42.5rem;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-acent-family);
  font-size: 14px;
  text-shadow: 
        -1px -1px 0 var(--watermark-border-color),  
        1px -1px 0 var(--watermark-border-color),  
        -1px 1px 0 var(--watermark-border-color),  
        1px 1px 0 var(--watermark-border-color);
}

.card__footer {
  display: flex;
  justify-content: end;
  padding: 1.6rem;
  gap: 1.5rem;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  width: 8.3rem;
  height: 2.5rem;
  font-family: var(--font-acent-family);
  font-size: 14px;
}

.save-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  width: 20.3rem;
  height: 2.5rem;
  font-family: var(--font-acent-family);
  font-size: 14px;
  margin-top: 5rem;
}