/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;

  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);

  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 

}

.header {
  width: 44rem;
  height: 23rem;
  background-image: none; 
  background-color: var(--background-color);
  font-family: var(--font-acent-family);
  color: var(--text-color);
  margin: 6.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--text-color);
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.header__title {
  padding-top: 10.1rem;
  font-size: 65px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:not(:disabled) {
  margin-left: 2rem;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  /* position: relative; */
  /* left: 0.6rem; */
  display: inline-block;
  animation: move-arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform 0.3s ease; 
}

.theme-menu__button:hover::after {
  transform: scaleX(1); 
}

.main {
  display: flex;
  width: 44rem;
  margin-bottom: 5rem;
}

.card {
  border: 2px solid var(--text-color);
  background-image: none; 
  background-color: var(--background-color);
}

.card__title {
  border: 2px solid var(--text-color);
  padding: 0.4rem;
}

.card__text {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  font-size: 18px;
}

.card__image-watermark {
  position: relative;
  left: 36rem;
  top: -42.5rem;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-acent-family);
  font-size: 14px;
  text-shadow: 
        -1px -1px 0 var(--watermark-border-color),  
        1px -1px 0 var(--watermark-border-color),  
        -1px 1px 0 var(--watermark-border-color),  
        1px 1px 0 var(--watermark-border-color);
}

.card__footer {
  display: flex;
  justify-content: end;
  padding: 1.6rem;
  gap: 1.5rem;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  width: 8.3rem;
  height: 2.5rem;
  font-family: var(--font-acent-family);
  font-size: 14px;
  transition: box-shadow 0.3s ease;
}

.save-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  width: 20.3rem;
  height: 2.5rem;
  font-family: var(--font-acent-family);
  font-size: 14px;
  transition: box-shadow 0.3s ease;
}


.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--text-color);
}

.save-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--text-color);
}

.button__text {
  display: block;
  position: relative;
}

.button__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.button__text:hover::before {
  transform: scaleX(1);
}

.button__text span,
.button__text svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--inverse-text-color);
  transition: color 0.5s ease;
}

.like-icon {
  border: 2px solid transparent;
  background-color: transparent;
}

.like-icon:focus {
  outline: none;
  border: 2px solid var(--text-color);
  transition: border 0.3s ease;
}

.like-icon .contour {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
}

.like-icon .main-body {
  fill: transparent;
  transition-delay: 0.05s;
}

.like-icon .sparks {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition-delay: 0.06s;
}


.like-icon.is-liked .core {
  fill: red;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  transition-delay: 0.3s;
  animation: sparks_on 0.3s ease-in;
}

.like-icon.is-liked .core {
  animation: heart_scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .main-body {
  animation: heart_scale 0.3s ease-in;
  animation-delay: 0.1s;
}

@keyframes heart_scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform-origin: center;
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks_on {
  0% {
    fill: transparent;
  }
  50% {
    fill: red;
  }
  100% {
    fill: transparent;
  }
}

.subscription-dialog {
  background-color: var(--background-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: var(--font-acent-family);
}

.subscription-dialog {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color);
  gap: 2rem;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 357px;
  padding-top: 2rem;
}

.dialog__content-img {
  width: 3rem;
}

.dialog__button__text {
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 0.5rem 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
} 